x64
.vs
/LineManager/__pycache__
/LineManagerVisualization/__pycache__
/LineManagerVisualization/venv
/Documentation
/LineManager/SpiceLib/ngspice*.dll
/plots
/ReferenceGrids
.idea
/LineManager/spiceLib
